language: java
sudo: false
jdk:
  - oraclejdk7
  - openjdk7
cache:
  directories:
    - $HOME/.m2
env:
  global:
    - MAVEN_OPTS="-XX:MaxPermSize=2g -Xmx4g"
    - JAVA_OPTS="-XX:MaxPermSize=2g -Xmx4g"
script: |
  mvn clean install -Pqulice
